{% extends "dashboard/index.html" %}
{% load staticfiles %}
{% block body %}
  <h4>
    BVN Registration - {{registration.surname | capfirst}} {{registration.first_name | capfirst}}    
  </h4>
  <h4>BVN - {{registration.bvn}}</h4>
  <hr>
  <!--<div class="row">
    <div class="col-sm-12">
      <a href="{% url 'dashboard:biometric-capture' pk=registration.pk %}" class="float-right btn btn-behance mr-2">Capture Biometrics</a>      
    </div>
  </div>
  <hr>-->
  <table class="table table-striped table-primary">
    <tr>
      <th>Surname</th>
      <td>{{registration.surname}}</td>
      <th>First Name</th>
      <td>{{registration.first_name}}</td>
    </tr>
    <tr>
      <th>Date of birth</th>
      <td>{{registration.dob}}</td>
      <th>Gender</th>
      <td>{{registration.gender}}</td>
    </tr>
    <tr>
      <th>State of Origin</th>
      <td>{{registration.state_of_origin}}</td>
      <th>LGA</th>
      <td>{{registration.lga_of_origin}}</td>
    </tr>
    <tr>
      <th>Company</th>
      <td>{{registration.tax_payer_company}}</td>
      <th>Occupation</th>
      <td>{{registration.occupation}}</td>
    </tr>
    <tr>
      <th>Employment Status</th>
      <td>{{registration.employment_status}}</td>
      <th>Residential Address</th>
      <td>{{registration.residential_address}}</td>
    </tr>
    <tr>
      <th>Phone</th>
      <td>{{registration.phone}}</td>
      <th>Email</th>
      <td>{{registration.email}}</td>
    </tr>
  </table>

  
{% endblock body %}
